In [182]:
import numpy as np
import pandas as pd

In [183]:
member_info = pd.read_csv('data/member_clean.csv', index_col=0)
print(member_info.info())
print(member_info.dtypes)
member_info.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17835 entries, 0 to 18140
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   member     17835 non-null  object
 1   hold_time  17835 non-null  float64
 2   pack_name  17835 non-null  object
dtypes: float64(1), object(2)
memory usage: 557.3+ KB
None
member        object
hold_time    float64
pack_name     object
dtype: object

    member  hold_time                                          pack_name
0  member1   2.939411  Artifact Puzzles Justin Hillgrove Word Travels...
1  member1   0.998885  DaVici Puzzles Full Moon Feast DaVici Puzzles ...
2  member1  10.865032  DaVici Puzzles Flying Frigate DaVici Puzzles H...
3  member1  22.083971  Liberty Puzzles Haeckel Hummingbirds Nautilus ...
4  member1   5.077603          DaVici Puzzles Diana Zimens City Of Cats

In [184]:
puzzle_piece_info = pd.read_csv('data/pieces_by_puzzle_and_difficulty.csv', index_col = 0)
puzzle_piece_info['pack_name'] = puzzle_piece_info.name
puzzle_piece_info.drop('name', inplace=True, axis=1)
print(puzzle_piece_info.dtypes)
puzzle_piece_info.head()

pieces_d1      float64
pieces_d2      float64
pieces_d3      float64
pieces_d4      float64
num_puzzles      int64
pack_name       object
dtype: object

,pieces_d1,pieces_d2,pieces_d3,pieces_d4,num_puzzles,pack_name
0,0.0,900.0,0.0,0.0,1,Artifact Puzzles Bek Cruddace Europe Map
1,228.0,0.0,0.0,0.0,1,Artifact Puzzles Roch Urbaniak Floating Town A...
2,0.0,0.0,273.0,0.0,1,Artifact Puzzles Sandi Rigby Botanical Dreaming
3,0.0,450.0,0.0,0.0,1,DaVici Puzzles Awakening DaVici Puzzles
4,0.0,0.0,600.0,0.0,1,DaVici Puzzles Under the Red Umbrella

In [185]:
hold_times_joined = member_info.merge(puzzle_piece_info, left_on='pack_name', right_on='pack_name', how='left')
hold_times_joined

,member,hold_time,pack_name,pieces_d1,pieces_d2,pieces_d3,pieces_d4,num_puzzles
0,member1,2.939411,Artifact Puzzles Justin Hillgrove Word Travels...,456.0,548.0,0.0,0.0,2.0
1,member1,0.998885,DaVici Puzzles Full Moon Feast DaVici Puzzles ...,0.0,0.0,415.0,0.0,2.0
2,member1,10.865032,DaVici Puzzles Flying Frigate DaVici Puzzles H...,295.0,0.0,0.0,0.0,2.0
3,member1,22.083971,Liberty Puzzles Haeckel Hummingbirds Nautilus ...,0.0,707.0,0.0,0.0,2.0
4,member1,5.077603,DaVici Puzzles Diana Zimens City Of Cats,0.0,700.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...
17830,member675,9.644028,Artifact Puzzles Erin Hanson Dawning Saguaro A...,0.0,831.0,0.0,0.0,2.0
17831,member675,51.663386,Liberty Puzzle Dr. Seuss Plethora of Cats Libe...,616.0,0.0,545.0,0.0,2.0
17832,member675,16.660733,Liberty Puzzles William Groppers American Folk...,0.0,692.0,0.0,0.0,1.0
17833,member675,26.596725,Liberty Puzzles Vincent Van Gogh Flowering Gar...,355.0,386.0,0.0,0.0,2.0
17834,member675,4.800741,Anne Belle Thompson The Mikado Anne Belle Thom...,0.0,629.0,0.0,0.0,2.0

In [186]:
hold_times_joined[hold_times_joined.num_puzzles.isna()]

,member,hold_time,pack_name,pieces_d1,pieces_d2,pieces_d3,pieces_d4,num_puzzles
40,member3,2.909245,Nautilus Puzzles NASA and JPL Visions Of The F...,NaN,NaN,NaN,NaN,NaN
42,member3,17.527839,Nautilus Puzzles Vintage Tour De France,NaN,NaN,NaN,NaN,NaN
54,member3,25.588854,Liberty Puzzles Whimsical Map of San Diego,NaN,NaN,NaN,NaN,NaN
56,member3,52.858243,Wentworth Puzzles Gustave Klimt Adele Bloch Ba...,NaN,NaN,NaN,NaN,NaN
58,member3,4.080147,DaVici Puzzles Sergey Adeev On Land and Sea Da...,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
17767,member673,20.969058,Wentworth Puzzles Lisa Graa Jensen Sheep Count...,NaN,NaN,NaN,NaN,NaN
17811,member675,29.687847,Liberty Puzzles Duke Beardsley Rompecabezas Li...,NaN,NaN,NaN,NaN,NaN
17817,member675,8.764036,Liberty Puzzles Frank Cowper Vanity Liberty Pu...,NaN,NaN,NaN,NaN,NaN
17819,member675,14.649193,Liberty Puzzles Pierre-Auguste Renoir Chrysant...,NaN,NaN,NaN,NaN,NaN
17827,member675,8.919495,Artifact Puzzles Bee Eater Artifact Puzzles Ke...,NaN,NaN,NaN,NaN,NaN

In [187]:
# Drop the missing ones
# Revision: Keep them since we still have to predict on puzzles we don't have data for </0_0\>
#hold_times = hold_times_joined.dropna(subset=['pieces_d1', 'pieces_d2', 'pieces_d3', 'pieces_d4', 'num_puzzles'], how='all')

In [188]:
hold_times_joined[hold_times_joined[['pieces_d1', 'pieces_d2', 'pieces_d3', 'pieces_d4', 'num_puzzles']].isna().any(axis=1)]

,member,hold_time,pack_name,pieces_d1,pieces_d2,pieces_d3,pieces_d4,num_puzzles
40,member3,2.909245,Nautilus Puzzles NASA and JPL Visions Of The F...,NaN,NaN,NaN,NaN,NaN
42,member3,17.527839,Nautilus Puzzles Vintage Tour De France,NaN,NaN,NaN,NaN,NaN
54,member3,25.588854,Liberty Puzzles Whimsical Map of San Diego,NaN,NaN,NaN,NaN,NaN
56,member3,52.858243,Wentworth Puzzles Gustave Klimt Adele Bloch Ba...,NaN,NaN,NaN,NaN,NaN
58,member3,4.080147,DaVici Puzzles Sergey Adeev On Land and Sea Da...,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
17767,member673,20.969058,Wentworth Puzzles Lisa Graa Jensen Sheep Count...,NaN,NaN,NaN,NaN,NaN
17811,member675,29.687847,Liberty Puzzles Duke Beardsley Rompecabezas Li...,NaN,NaN,NaN,NaN,NaN
17817,member675,8.764036,Liberty Puzzles Frank Cowper Vanity Liberty Pu...,NaN,NaN,NaN,NaN,NaN
17819,member675,14.649193,Liberty Puzzles Pierre-Auguste Renoir Chrysant...,NaN,NaN,NaN,NaN,NaN
17827,member675,8.919495,Artifact Puzzles Bee Eater Artifact Puzzles Ke...,NaN,NaN,NaN,NaN,NaN

In [196]:
hold_times_joined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17835 entries, 0 to 17834
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   member       17835 non-null  object
 1   hold_time    17835 non-null  float64
 2   pack_name    17835 non-null  object
 3   pieces_d1    16443 non-null  float64
 4   pieces_d2    16443 non-null  float64
 5   pieces_d3    16443 non-null  float64
 6   pieces_d4    16443 non-null  float64
 7   num_puzzles  16443 non-null  float64
dtypes: float64(6), object(2)
memory usage: 1.2+ MB

In [197]:
packs_info = pd.read_csv(r'data/packs_cleaned_dropna.csv', index_col = 0)
packs_info.head()

,pack_name,brand_0,brand_1,pieces_0,pieces_1,diff_0,diff_1,num_puzzles
0,Anne Belle Thompson The Mikado Anne Belle Thom...,Other-Hand-cut,NaN,387.0,242.0,Average,Average,2
1,Anthology Puzzles Alphonse Mucha La Plume Anth...,NaN,NaN,320.0,160.0,Average,Average,2
2,Anthology Puzzles Colorful Cat Anthology Puzzl...,NaN,NaN,150.0,170.0,Average,Average,2
3,Anthology Puzzles Framed American Gothic Antho...,NaN,NaN,320.0,300.0,Average,Average,2
4,Anthology Puzzles Over The Moon Anthology Puzz...,NaN,NaN,278.0,177.0,Hard,A-Easy,2

In [198]:
packs_info[packs_info.diff_0.isna() | packs_info.diff_1.isna()]

Empty DataFrame
Columns: [pack_name, brand_0, brand_1, pieces_0, pieces_1, diff_0, diff_1, num_puzzles]
Index: []

In [200]:
hold_times_diff = hold_times_joined.merge(packs_info[['pack_name', 'diff_0', 'diff_1']], left_on='pack_name', right_on='pack_name', how='left')
hold_times_diff

,member,hold_time,pack_name,pieces_d1,pieces_d2,pieces_d3,pieces_d4,num_puzzles,diff_0,diff_1
0,member1,2.939411,Artifact Puzzles Justin Hillgrove Word Travels...,456.0,548.0,0.0,0.0,2.0,A-Easy,Average
1,member1,0.998885,DaVici Puzzles Full Moon Feast DaVici Puzzles ...,0.0,0.0,415.0,0.0,2.0,Hard,Hard
2,member1,10.865032,DaVici Puzzles Flying Frigate DaVici Puzzles H...,295.0,0.0,0.0,0.0,2.0,A-Easy,A-Easy
3,member1,22.083971,Liberty Puzzles Haeckel Hummingbirds Nautilus ...,0.0,707.0,0.0,0.0,2.0,Average,Average
4,member1,5.077603,DaVici Puzzles Diana Zimens City Of Cats,0.0,700.0,0.0,0.0,1.0,Average,Average
...,...,...,...,...,...,...,...,...,...,...
17830,member675,9.644028,Artifact Puzzles Erin Hanson Dawning Saguaro A...,0.0,831.0,0.0,0.0,2.0,Average,Average
17831,member675,51.663386,Liberty Puzzle Dr. Seuss Plethora of Cats Libe...,616.0,0.0,545.0,0.0,2.0,Hard,A-Easy
17832,member675,16.660733,Liberty Puzzles William Groppers American Folk...,0.0,692.0,0.0,0.0,1.0,Average,Average
17833,member675,26.596725,Liberty Puzzles Vincent Van Gogh Flowering Gar...,355.0,386.0,0.0,0.0,2.0,Average,A-Easy
17834,member675,4.800741,Anne Belle Thompson The Mikado Anne Belle Thom...,0.0,629.0,0.0,0.0,2.0,Average,Average

In [201]:
hold_times_diff[hold_times_diff.diff_0.isna() | hold_times_diff.diff_1.isna()]

,member,hold_time,pack_name,pieces_d1,pieces_d2,pieces_d3,pieces_d4,num_puzzles,diff_0,diff_1
40,member3,2.909245,Nautilus Puzzles NASA and JPL Visions Of The F...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,member3,17.527839,Nautilus Puzzles Vintage Tour De France,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,member3,25.588854,Liberty Puzzles Whimsical Map of San Diego,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,member3,52.858243,Wentworth Puzzles Gustave Klimt Adele Bloch Ba...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,member3,4.080147,DaVici Puzzles Sergey Adeev On Land and Sea Da...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
17767,member673,20.969058,Wentworth Puzzles Lisa Graa Jensen Sheep Count...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17811,member675,29.687847,Liberty Puzzles Duke Beardsley Rompecabezas Li...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17817,member675,8.764036,Liberty Puzzles Frank Cowper Vanity Liberty Pu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17819,member675,14.649193,Liberty Puzzles Pierre-Auguste Renoir Chrysant...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17827,member675,8.919495,Artifact Puzzles Bee Eater Artifact Puzzles Ke...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [202]:
hold_times_diff.to_csv(r'data/joined_hold_times_data_all.csv')

In [203]:
hold_times_diff[hold_times_diff.isna().any(axis=1)]

,member,hold_time,pack_name,pieces_d1,pieces_d2,pieces_d3,pieces_d4,num_puzzles,diff_0,diff_1
40,member3,2.909245,Nautilus Puzzles NASA and JPL Visions Of The F...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,member3,17.527839,Nautilus Puzzles Vintage Tour De France,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,member3,25.588854,Liberty Puzzles Whimsical Map of San Diego,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,member3,52.858243,Wentworth Puzzles Gustave Klimt Adele Bloch Ba...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,member3,4.080147,DaVici Puzzles Sergey Adeev On Land and Sea Da...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
17767,member673,20.969058,Wentworth Puzzles Lisa Graa Jensen Sheep Count...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17811,member675,29.687847,Liberty Puzzles Duke Beardsley Rompecabezas Li...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17817,member675,8.764036,Liberty Puzzles Frank Cowper Vanity Liberty Pu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17819,member675,14.649193,Liberty Puzzles Pierre-Auguste Renoir Chrysant...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17827,member675,8.919495,Artifact Puzzles Bee Eater Artifact Puzzles Ke...,NaN,NaN,NaN,NaN,NaN,NaN,NaN